.navbar {width: auto;
    background: blue;
    text-align: center;
}


.sidebar {height: auto;
width: 125px;
float: left;
background: yellow;
text-align: center;
}


.center {text-align: center;
    color: red;
}

button {background-color: white;
    width: 155px;
    height: 45px;
}

button:hover {color: blue;}

h1 {text-indent: 1em;}


p {text-indent: 2em;
text-align: left;
font-family: serif; 
color: black;
font-size: 1em;
margin-left: 2em;
margin-right: 2em;
}

ul p {text-indent: 0em;}